/* Font Faces */
@font-face {
    font-family: 'DM Sans';
    src: url(fonts/static/DMSans-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: 'DM Sans';
    src: url(fonts/static/DMSans-MediumItalic.ttf);
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'DM Sans';
    src: url(fonts/static/DMSans-Regular.ttf);
    font-weight: 400;
}

/* CSS Variables */
:root {
    --clr-purple-100: hsl(254, 88%, 90%);
    --clr-purple-200: hsl(256, 67%, 59%);
    --clr-yellow-100: hsl(31, 66%, 93%);
    --clr-yellow-200: hsl(39, 100%, 71%);
    --clr-black: hsl(0, 0%, 7%);
    --clr-white: hsl(0, 0%, 100%);

    --ff-main: 'DM Sans', sans-serif;
    --fw-bold: 500;
    --fw-regular: 400;
}

/* Reset & Base Styles */
*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: var(--ff-main);
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    background-color: aliceblue;
    min-height:100vh;
    display: grid;
    place-items: center;
    margin-inline: 1rem;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

/* Card Section Styles */
.card-section {
    display: grid;
    gap: 2rem;
    margin-top: 1rem;
    max-width: 1200px;
    margin-inline: auto;
}

.card-section__card {
    padding: 1rem;
    border-radius: 0.5rem;
    display: grid;
    place-items: center;
}

/* Individual Card Styles */
.card1 {
    background-color: var(--clr-purple-200);
    text-align: center;
    gap: 1rem;
}

.card1_title {
    font-size: 2.4rem;
    color: var(--clr-white);
    font-weight: var(--fw-bold);
}

.card1_title span {
    color: var(--clr-yellow-200);
}

.card1_img {
    width: 50%;
}

.card1_paragraph {
    font-size: 1rem;
    color: var(--clr-white);
}

.card2 {
    background-color: var(--clr-white);
    text-align: left;
    gap: 1rem;
}

.card2_paragraph {
    font-size: 2rem;
}

.card3 {
    background-color: var(--clr-yellow-200);
    text-align: left;
    overflow: clip;
    gap: 1rem;
}

.card3_title {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.card3_img {
    width: 80%;

}

.card4 {
    background-color: var(--clr-purple-100);
    text-align: center;
    gap: 1rem;
    padding-inline: 1rem;
}

.card4_title {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.card4_paragraph {
    font-size: 1.4rem;
    font-weight: var(--fw-regular);
}

.card5 {
    background-color: var(--clr-purple-200);
    text-align: center;
    gap: 1rem;
    padding-inline: 3rem;
}

.card5_paragraph {
    font-size: 2rem;
    font-weight: var(--fw-bold);
    color: var(--clr-white);
}

.card6 {
    background-color: var(--clr-white);
    text-align: left;
    gap: 1rem;
    line-height: 1.4;
}

.card6_title {
    font-size: 1.4rem;
    font-weight: var(--fw-regular);
}

.card6_img {
    width: 60%;
}

.card6_title span {
    font-size: 3rem;
    font-weight: var(--fw-bold);
}

.card7 {
    background-color: var(--clr-yellow-100);
    text-align: left;
    gap: 1.4rem;
}

.card7_title {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.card7_title span {
    color: var(--clr-purple-200);
}

.card7_img {
    width: 80%;
}

.card8 {
    background-color: var(--clr-yellow-200);
    text-align: left;
    gap: 1rem;
    margin-bottom: 1rem;
}

.card8_title {
    font-size: 2rem;
    font-weight: var(--fw-bold);
}

.card8_img {
    width: 80%;
}

/* Tablet Responsive Styles */
@media (min-width: 660px) {
    .card-section {
        grid-template-areas:
            "grid2 grid2"
            "grid4 grid3"
            "grid5 grid3"
            "grid7 grid3"
            "grid1 grid6"
            "grid8 grid8";
        grid-template-columns: repeat(2, 1fr);
       
    }

    .card-section {
        margin-top: 1rem;
    }

    .card1 {
        grid-area: grid2;
    }

    .card5 {
        grid-area: grid8;
    }

    .card4 {
        grid-area: grid3;
    }

    .card2 {
        grid-area: grid4;
    }

    .card6 {
        grid-area: grid7;
    }

    .card3 {
        grid-area: grid5;
    }

    .card7 {
        grid-area: grid1;
    }

    .card8 {
        grid-area: grid6;
        margin-bottom: 0;
    }


    .card3_img {
        transform: translateY(10%);
    }

    .card4 {
        overflow: clip;
    }

    .card4_img {
        margin-right: -10rem;
        transform: scale(1.4);
    }

    .card4_title {
        font-size: 2rem;
    }

    .card4_paragraph {
        font-size: 1.4rem;
    }

    .card5_img {
        width: 40%;
    }

    .card2 img {
        margin-right: 0;
    }

    .card6_title span {
        font-size: 6rem;
    }

    .card6_title {
        font-size: 1rem;
        text-align: left;
    }

    .card1_title {
        font-size: 4rem;
    }

    .card7_title,
    .card8_title,
    .card5_paragraph {
        font-size: 3rem;
    }

    .card3_title,
    .card2_paragraph {
        font-size: 2rem;
    }
}

/* Desktop Responsive Styles */
@media (min-width: 990px) {
    body {

        height: 100vh;
    }

    .card-section {
        grid-template-areas:
            "grid1 grid2 grid2 grid3"
            "grid1 grid4 grid5 grid3"
            "grid6 grid4 grid5 grid3"
            "grid6 grid7 grid8 grid8";
        grid-template-columns: repeat(4, minmax(0, 1fr));

    }

    .card1 {
        grid-area: grid2;
    }

    .card1_title {
        text-align: center;
    }

    .card2 {
        grid-area: grid4;
        min-width: 0;
        overflow: clip;
        position: relative;
    }

    .card2 img {
        width: 150%;
        max-width: none;
        margin-right: -6rem;

    }

    .card3 {
        grid-area: grid5;
    }

    .card3_img {
        margin-bottom: -80px;
    }

    .card4 {
        grid-area: grid3;
        grid-column: 4;
        overflow: clip;
    }

    .card4_img {
        /* transform: scale(1.2); */
        transform: scale(clamp(1.2, 1.2, 1.4));
        max-height: 350px;

        margin-right: -6rem;
        transform-origin: left center;
    }

    .card5 {
        grid-area: grid8;
        grid-column: 3 / span 2;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        text-align: left;
        padding-inline: 1rem;
    }

    .card5_img {
        width: 80%;
    }

    .card6 {
        grid-area: grid7;
    }

    .card7 {
        grid-area: grid1;
    }

    .card8 {
        grid-area: grid6;
        margin-bottom: 0;
    }
}
